.pageContent {/**/}

.jumbotron {
  margin: 30px;
  display: flex;
  padding: 4rem 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

.logo {
  height: 250px;
  margin-right: 20px;
  background: white;
}

.descriptionText {
  max-width: 60em;
}

.goButton:not(:first-child) {
  margin-left: 15px;
}
