.pageContent {
  overflow-y: scroll;
}

.jumbotron {
  margin: 30px;
  display: flex;
}

.logo {
  height: 250px;
  margin-right: 20px;
  background: white;
}

.descriptionText {
  max-width: 60em;
}

.goButton:not(:first-child) {
  margin-left: 15px;
}
