.pageContent {
  margin: 15px 30px 0 30px;
}

.exampleSelector {
  width: 300px;
}

.panes {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  height: 700px;
}

.shapesPane {
  flex: 1 1 35%;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.operationTabs {
  flex: 1 1 65%;
  display: flex;
  flex-direction: column;
}
.operationTabs > :global(.tab-content) {
  flex: auto;
  display: flex;
}

.shapesEditor {
  flex: auto;
}

.infoBox {/**/}

.errorList {/**/}

.errorMessage {
  color: red;
}

:global(.tab-content) > .twoPaneOperation:global(.active) {
  display: flex;
}
.twoPaneOperation {
  flex: auto;
  flex-direction: column;
  margin-top: 10px;
}

.twoPaneEditor {
  flex: 1 1 50%;
}

.paneControls {
  margin: 15px;
  white-space: nowrap;
}

:global(.tab-content) > .singlePaneOperation:global(.active) {
  display: flex;
}
.singlePaneOperation {
  flex: auto;
  flex-direction: column;
}

.generateQueryButton {
  margin: 15px 0;
  align-self: flex-start;
}
