.pageContent {
  flex: auto;
  display: flex;
  flex-direction: column;
  margin: 15px 30px 0 30px;
}

.exampleSelector {
  margin-left: 10px;
  width: 300px;
}

.panes {
  flex: auto;
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.shapesPane {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.operationTabs {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
}

.shapesEditor {
  flex: 1 1 0;
  overflow: hidden;
}

.infoBox {/**/}

.errorList {/**/}

.errorMessage {
  color: #8e0000;
  white-space: break-spaces;
  font-family: monospace;
  font-size: 16px;
}

.twoPaneOperation {
  flex: auto;
  flex-direction: column;
  margin-top: 10px;
}

.twoPaneEditor {
  flex: 1 1 0;
  overflow: hidden;
}

.paneControls {
  margin: 15px;
  white-space: nowrap;
}

.singlePaneOperation {
  flex: auto;
  flex-direction: column;
}

.generateQueryButton {
  margin: 15px 0;
  align-self: flex-start;
}
